{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    {% if programs %}
    <h1>les 3 dernières serires de la categorie {{ programs[0].category.name }} : </h1>
    {% endif %}
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            <p>{{ program.year }}</p>
            <p>{{ program.country }}</p>
            <a href="{{ path("program_show", { program: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}