{% extends 'base.html.twig' %}

{% block title %}{{ "All programs for the category" |trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% if programs %}
            <h1>{{ "The 3 latest programs of the Category"|trans }} {{ programs[0].category.name }} : </h1>
        {% endif %}
        {% for program in programs %}
            <div>
                <h2>{{ loop.index }} / {{ program.title }} - {{ "program.category" |trans }}
                    : {{ program.category.name }}</h2>
                <p>{{ program.synopsis }}</p>
                <p>{{ program.year }}</p>
                <p>{{ program.country }}</p>
                <a href="{{ path("program_show", { program: program.slug }) }}">{{ "See_details" |trans }}</a>
            </div>
        {% else %}
            {{ "no_program" |trans }}
        {% endfor %}

        <a href="{{ path('app_index') }}">
            {{ "back.home" |trans }}
        </a>
    </div>
{% endblock %}
