{{ form_start(form) }}
    {{ form_widget(form) }}
<ul class="comments">
    {% for comment in form.comments %}

        <li>{{ form_row(comment.comment) }}</li>
    {% endfor %}
</ul>
<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
