{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les séries de la table program : </h1>
        <h2>filtrer</h2>
        {{ form_start(form,  {'attr': {'class': 'search-form'}}) }}
        {{ form_row(form.searchTitle,  { 'label': 'rechercher un titre ou un morceau de titre de série en particulier' }) }}
        {{ form_row(form.searchActor,  { 'label': 'rechercher par nom de famille d\'un acteur de la série' }) }}
        <button class="btn btn-primary">{{ button_label|default('rechercher') }}</button>
        {{ form_end(form) }}
        {% for program in programs %}
            <div class="program-box">
                <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                <p>{{ program.synopsis }}</p>
                <a href="{{ path("program_show", { program: program.slug }) }}">Voir la fiche</a>
                <div class="list-actor">
                    <strong>Acteurs :</strong>
                    <ul>
                        {% for actor in program.actors %}
                            <li><a href="{{ path("actor_show", { id: actor.id }) }}"> {{ actor.name }}</a></li>
                        {% else %}
                            <li>Aucun acteur pour cette série</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}

        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}
