{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="title-center welcome">{% trans with {'%website%': website} %}
                Welcome on %website% site
            {% endtrans %} !</h1>
        <h2>{{ 'the latest series' |trans }}</h2>
        {% for program in programs %}
            <div class="card flex-row align-items-center mb-3 shadow">
                <img class="mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
                <div class="card-body">
                    <h2>{{ program.title }} - {{ 'Categories' |trans }} : {{ program.category.name }}</h2>
                    <p>{{ program.synopsis }}</p>
                    <p>{{ program.year }}</p>
                    <p>{{ program.country }}</p>
                    <a href="{{ path("program_show", { program: program.slug }) }}">{{ 'See_details' |trans }}</a>
                </div>
            </div>
        {% else %}
            {{ 'no_program' |trans }}
        {% endfor %}
    </div>
{% endblock %}
